numpy
Cython
h5py
Pillow
six
scipy
opencv-python
matplotlib
torch>=1.4.0
torchvision
fvcore
tqdm
future
yacs
gdown
flake8
yapf
isort==4.3.21
imageio
git+https://github.com/NVIDIA/apex.git#egg=apex
termcolor
thop<0.0.31.post2004070130